[submodule "packet"]
	path = packet
	url = git@github.com:frenetic-lang/ocaml-packet.git
[submodule "openflow"]
	path = openflow
	url = git@github.com:frenetic-lang/ocaml-openflow.git
[submodule "topology"]
	path = topology
	url = git@github.com:frenetic-lang/ocaml-topology.git
[submodule "frenetic"]
	path = frenetic
	url = git@github.com:frenetic-lang/frenetic.git
[submodule "ocaml-cohttp"]
	path = ocaml-cohttp
	url = https://github.com/mirage/ocaml-cohttp.git
